* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

:root {
    --primary-color: #005CE6;
    --secondary-color: #B0B0B0;
    --background-color: whitesmoke;
    --text-color: black;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.navbar {
    background: white;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.5);
}

.search {
    padding: 10px;
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #f6f6f6;
    transition: box-shadow .5s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    color: var(--text-color);
    margin-left: 14px;
    border: none;
    outline: none;
    background: transparent;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.search-icon {
    color: rgba(0, 0, 0, 0.25);
}

#icon-menu {
    display: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text-color);
}

a:hover {
    padding: 5%;
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
}

.navbar .judul-logo {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.navbar .judul-logo .log1 {
    color: var(--primary-color);
}

.navbar .judul-logo .log2 {
    display: flex;
    padding-left: 3px;
    color: var(--text-color);
}

.text-content {
    display: flex;
    gap: 1rem;
    padding-right: 20px;
}

@media screen and (max-width: 952px) {
    .navbar .judul-logo {
        font-size: 1.8rem;
    } 
    
    .text-content {
        font-size: .9rem;
    }
}

@media screen and (max-width: 862px) {
    .navbar .judul-logo {
        font-size: 1.7rem;
    }

    #list-menu {
        display: none;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--secondary-color);
        top: 70px;
        text-align: center;
        flex-direction: column;
    }

    #list-menu.active {
        display: flex;
    }

    #icon-menu {
        display: flex;
        padding-right: 5px;
    }

    nav ul li {
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        gap: 2rem;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    a:hover, a.active {
        background: none;
        color: var(--primary-color);
        transition: .35s;
    }

    .search {
        display: none;
    }
}
